{
	"extends": "airbnb",
	"rules": {
		"comma-dangle": ["error", "never"],
		linebreak-style: 0,
		no-tabs: 0,
		no-plusplus: 0,
		react/no-string-refs: 0,
		react/no-array-index-key: 0,
		no-undef: 0,
		indent: 0,
		react/jsx-indent: 0
	}
}